@headHover: #fff; //头部hover时bg颜色
@fcolor: #fff; //头部 、banner初始文字颜色
@navHoverBg: #fff; //导航hoverbg颜色
@navHoverColor: #000; //导航hover文字颜色
@navActiveColor: #1470cc; //当前导航激活元素文字颜色
@public_box_width:1200px; //公共box的width
@public_box_padding:50px 0;//公共box的padding
@public_box_title_fs:30px; //公共box中title的字号
@public_box_title_fc:#333;//公共box中title的字色
@public_box_smallTitle_fs:18px;//公共box中smallTitle的字号
@public_box_smallTitle_fc:#b6b6b6;//公共box中smallTitle的字色
@newsTitle_fs:24px;   //新闻展示的标题


#dongtai{
    background: #F5F5F5;
    .dongtai_box{
        width: @public_box_width;
        margin: 60px auto;
        .dongtai_tab{
            text-align: center;
            div{
                display: inline-block;
                width: 120px;
                height: 50px;
                background: #fff;
                color: #808080;
                border-radius: 5px;
                line-height: 50px;
                margin-left: 10px;
                cursor: pointer;
                &.active{
                    background: @navActiveColor;
                    color: #fff;
                }
            }
        }
        .dongtai_cont{
            ul{
                li{
                    overflow: hidden;
                    margin: 40px 0;
                    cursor: pointer;
                    .time{
                        width: 120px;
                        height: 150px;
                        color: #fff;
                        background: @navActiveColor;
                    }
                    .txt{
                        padding: 26px 30px;
                        width: 840px;
                        background: #fff;
                        .txt_name{
                            font-size: @newsTitle_fs;
                            color: @public_box_title_fc;
                        }
                        .txt_descr{
                            font-size:14px;
                            color: @public_box_smallTitle_fc;
                            line-height: 28px;
                            height: 56px;
                            margin-top: 11px;
                            
                        }
                    }
                    .img{
                        width: 240px;
                    }
                }
            }
        }
    }
}
.shadow{
    -webkit-box-shadow: 0 0 16px 0 #d9d9d9;
    -moz-box-shadow: 0 0 16px 0 #d9d9d9;
    box-shadow: 0 0 16px 0 #d9d9d9;
}