@import "../public.less";
 
#dongtai{
    background: @public_box_bg;
    .dongtai_box{
        .allBox();
        .dongtai_tab{
            ul{
                text-align: center;
                li{
                    display: inline-block;
                    margin: 0 10px 40px;
                    .allBtn();
                }
            }
        }
        .dongtai_cont{
            ul{
                li{
                    overflow: hidden;
                    margin: 40px 0;
                    cursor: pointer;
                    &:hover{
                        .time{
                            background:@navActiveColor;
                            .time_inner{
                                border-right:0;
                            }
                            .day,.month{
                                color: #fff;
                            }
                        }
                        .txt{
                            .txt_name{
                                color: @navActiveColor;
                            }
                        }
                    }
                    .time{
                        width: 120px;
                        height: 150px;
                        color: #fff;
                        padding: 20px 0;
                        background: #fff;
                        .time_inner{
                            border-right: 1px solid #ebebeb;
                            height: 100%;
                            padding-top: 20px;
                        }
                        div{
                            text-align: center;
                            &.day{
                                font-size: 30px;
                                color: @public_box_title_fc;
                            }
                            &.month{
                                 font-size: 20px;
                                 color: @public_box_smallTitle_fc;
                            }
                        }
                    }
                    .txt{
                        padding: 26px 30px;
                        width: 840px;
                        background: #fff;
                        .txt_name{
                            font-size: @newsTitle_fs;
                            color: @public_box_title_fc;
                        }
                        .txt_descr{
                            font-size:14px;
                            color: @public_box_smallTitle_fc;
                            line-height: 28px;
                            height: 56px;
                            margin-top: 11px;
                            
                        }
                    }
                    .img{
                        width: 240px;
                        height: 150px;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}
