<style>
	@import url("../../css/foot/subFoot/subFoot.css");
</style>
<!--咨询-->
<div id="consulting" :controller="consulting">
	<div class="consulting_title">
		获得最适合您企业的解决方案，为为专家为您定制专属服务
	</div>
	<div class="consulting_btn" :click="@dialogShow=true">立即咨询</div>
	<!--弹框-->
	<div id="dialog" :if="@dialogShow">
		<div class="dialog_box">
			<div class="close" :click="@dialogShow=false">X</div>
			<div class="dialog_title">提交您的需求，获得最适合您的解决方案</div>
			<div class="dialog_note">我们会在24小时内回复您的邮件，节假日除外。</div>
			<div class="input">
				<input type="text" placeholder="您的姓名" class="fl"/>
				<input type="text" placeholder="您所在的单位名称" class="fr"/>
			</div>
			<div class="input">
				<input type="text" placeholder="您的固话/手机" class="fl"/>
				<input type="text" placeholder="您的邮箱" class="fr"/>
			</div>
			<div class="textarea">
				<textarea rows="4" cols=""></textarea>
			</div>
			<div class="btn">立即咨询</div>
		</div>
	</div>
</div>
<script>
	var consulting = avalon.define({
				$id:'consulting',
				dialogShow:false
			})
</script>
<!--底部-->
<div id="footer">
	<div class="hr"></div>
	<div class="footer_box">
		<div class="footer_body">
			<div class="footer_body_nav fl">
				<ul>
					<li>品牌</li>
					<li>
						<a href="#">关于为为</a>
					</li>
					<li>
						<a href="#">发展历程</a>
					</li>
					<li>
						<a href="#">品牌文化</a>
					</li>
				</ul>
				<ul>
					<li>动态</li>
					<li>
						<a href="#">公司新闻</a>
					</li>
					<li>
						<a href="#">行业动态</a>
					</li>
				</ul>
				<ul>
					<li>服务</li>
					<li>
						<a href="#">联系我们</a>
					</li>
					<li>
						<a href="#">服务流程</a>
					</li>
					<li>
						<a href="#">人才招聘</a>
					</li>
				</ul>
			</div>
			<div class="footer_body_wexin fr">
				<div>
					<img src="../../assets/imgs/gfwx.png" />
					<p>官方微信</p>
				</div>
				<div>
					<img src="../../assets/imgs/gfwb.png" />
					<p>官方微博</p>
				</div>
			</div>
		</div>
		<div class="footer_bottom">
			<span class="fl">地址：长沙市雨花区湘府东路258号双塔国际广场B座18层</span>
			<span class="fr">Copyright © 2017 为为科技 All Rights Reserved. 湘ICP备17007532号</span>
		</div>
	</div>
</div>