.shadow {
  -webkit-box-shadow: 0 0 16px 0 #d9d9d9;
  -moz-box-shadow: 0 0 16px 0 #d9d9d9;
  box-shadow: 0 0 16px 0 #d9d9d9;
}
/*咨询*/
#consulting {
  text-align: center;
  padding: 35px 0;
  background: url('../../../assets/imgs/zixun.png') no-repeat;
}
#consulting .consulting_title {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 25px;
}
#consulting .consulting_btn {
  display: inline-block;
  width: 150px;
  height: 50px;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  line-height: 50px;
  border: 1px solid #fff;
  text-align: center;
}
/*弹框*/
#dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
}
#dialog .dialog_box {
  position: fixed;
  width: 800px;
  z-index: 11;
  background: #FFF;
  top: 15%;
  left: 29%;
  padding: 50px;
}
#dialog .dialog_box .close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 28px;
  height: 28px;
  background: url('../../../assets/imgs/close.png');
  cursor: pointer;
}
#dialog .dialog_box .dialog_title {
  font-size: 28px;
  color: #7a7a7a;
  text-align: center;
}
#dialog .dialog_box .dialog_note {
  font-size: 18px;
  color: #b6b6b6;
  margin: 20px 0 30px;
  text-align: center;
}
#dialog .dialog_box .input {
  margin-bottom: 30px;
}
#dialog .dialog_box .input input {
  width: 300px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  padding: 0 16px;
}
#dialog .dialog_box .input input::-webkit-input-placeholder {
  color: #ccc;
}
#dialog .dialog_box .textarea {
  margin-bottom: 30px;
}
#dialog .dialog_box .textarea textarea {
  outline: 0;
  max-width: 95%;
  min-width: 95%;
  max-height: 100px;
  min-height: 66px;
  padding: 16px;
  font-size: 16px;
}
#dialog .dialog_box .btn {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background: #1470cc;
}
/*底部*/
#footer {
  background: #333;
  color: #fff;
  position: relative;
}
#footer .hr {
  background: #404040;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 234px;
}
#footer .footer_box {
  width: 1200px;
  margin: 0 auto;
  padding: 60px 0;
}
#footer .footer_box .footer_body {
  padding-bottom: 50px;
}
#footer .footer_box .footer_body .footer_body_nav ul {
  width: 180px;
  float: left;
}
#footer .footer_box .footer_body .footer_body_nav ul li {
  line-height: 28px;
}
#footer .footer_box .footer_body .footer_body_nav ul li:first-child {
  color: #808080;
  font-size: 18px;
  margin-bottom: 10px;
}
#footer .footer_box .footer_body .footer_body_nav ul li a {
  font-size: 14px;
  color: #adadad;
}
#footer .footer_box .footer_body .footer_body_wexin div {
  display: inline-block;
  margin-left: 30px;
}
#footer .footer_box .footer_body .footer_body_wexin div p {
  color: #808080;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
#footer .footer_box .footer_bottom {
  padding: 30px 0;
  color: #808080;
}
