.shadow {
  -webkit-box-shadow: 0 0 16px 0 #d9d9d9;
  -moz-box-shadow: 0 0 16px 0 #d9d9d9;
  box-shadow: 0 0 16px 0 #d9d9d9;
}
/*头部css*/
#header {
  background: #ffffff;
  width: 100%;
  transition: all .5s;
  overflow: visible;
}
#header .header_box {
  height: 100px;
  width: 1200px;
  margin: 0 auto;
}
#header .header_box .logo {
  float: left;
  width: 200px;
  text-align: center;
  margin-top: 30px;
}
#header .header_box .logo img {
  max-width: 100%;
}
#header .header_box .nav {
  float: left;
  width: 65%;
  height: 100px;
  text-align: center;
}
#header .header_box .nav ul {
  display: inline-block;
  margin: 0 auto;
}
#header .header_box .nav ul li {
  float: left;
  font-size: 18px;
  width: 90px;
  line-height: 100px;
  text-align: center;
}
#header .header_box .nav ul li a {
  color: #000000;
  display: block;
  height: 99px;
  border-bottom: 1px solid transparent;
}
#header .header_box .nav ul li a:hover {
  color: #1470cc;
  border-bottom-color: #1470cc;
}
#header .header_box .search {
  width: 200px;
  height: 34px;
  line-height: 30px;
  margin-top: 30px;
  float: right;
  border: 1px solid #EBEBEB;
  border-radius: 24px;
  position: relative;
}
#header .header_box .search .search_input {
  border: 0;
  outline: 0;
  background: transparent;
  padding: 6px 20px;
  color: #000000;
  font-size: 14px;
  height: 20px;
}
#header .header_box .search .search_input::-webkit-input-placeholder {
  color: #ccc;
  font-size: 14px;
}
#header .header_box .search .search_icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
  background: url('../../../assets/imgs/search2.png') no-repeat;
}
#header .nav_sub {
  text-align: center;
  position: absolute;
  top: 100px;
  width: 100%;
  overflow: visible;
}
#header .nav_sub ul {
  display: none;
  text-align: center;
  position: absolute;
  width: 100%;
  border-top: 1px solid #ebebeb;
  background: transparent;
  z-index: -999;
  transition: all .7s;
}
#header .nav_sub ul li {
  display: inline-block;
  width: 110px;
  position: relative;
}
#header .nav_sub ul li a {
  display: inline-block;
  color: #333;
  line-height: 80px;
}
#header .nav_sub ul li a span {
  position: absolute;
  top: 46%;
  left: 5%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ccc;
}
#header .nav_sub ul li a:hover {
  color: #1470cc;
}
#header .nav_sub ul li a:hover span {
  background: #1470cc;
}
#header .nav_sub ul.subshow {
  background: #ffffff;
  z-index: 1;
}
/*轮播banner样式*/
#banner {
  overflow: hidden;
}
#banner .bannerUL li {
  position: relative;
  z-index: -1;
  width: 100%;
}
#banner .bannerUL li img {
  width: 100%;
}
#banner .banner_txt {
  position: absolute;
  top: 110px;
  width: 100%;
}
#banner .banner_txt .title {
  font-size: 60px;
  text-align: center;
  color: #ffffff;
}
#banner .banner_txt .small_title {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  margin: 15px 0;
}
#banner .banner_txt .more {
  width: 180px;
  height: 60px;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
  line-height: 58px;
  display: block;
}
