/*头部css*/
#header:hover {
  background: #ffffff;
}
#header:hover .header_box .nav ul li a {
  color: #000000;
}
#header:hover .header_box .nav ul li a:hover {
  color: #1470cc;
  border-bottom-color: #1470cc;
}
#header:hover .header_box .search {
  border: 1px solid #EBEBEB;
}
#header:hover .header_box .search .search_input {
  color: #000000;
}
#header:hover .header_box .search .search_input::-webkit-input-placeholder {
  color: #ccc;
}
#header:hover .header_box .search .search_icon {
  background: url('../../assets/imgs/search2.png') no-repeat;
}
#header {
  background: transparent;
  position: absolute;
  width: 100%;
  transition: all .5s;
  overflow: visible;
}
#header .header_box {
  height: 100px;
  width: 1200px;
  margin: 0 auto;
}
#header .header_box .logo {
  float: left;
  width: 200px;
  text-align: center;
  margin-top: 30px;
}
#header .header_box .logo img {
  max-width: 100%;
}
#header .header_box .nav {
  float: left;
  width: 65%;
  height: 100px;
  text-align: center;
}
#header .header_box .nav ul {
  display: inline-block;
  margin: 0 auto;
}
#header .header_box .nav ul li {
  float: left;
  font-size: 18px;
  width: 90px;
  line-height: 100px;
  text-align: center;
}
#header .header_box .nav ul li a {
  color: #ffffff;
  display: block;
  height: 99px;
  border-bottom: 1px solid transparent;
}
#header .header_box .search {
  width: 200px;
  height: 34px;
  margin-top: 30px;
  float: right;
  border: 1px solid #438dd6;
  border-radius: 24px;
  position: relative;
}
#header .header_box .search .search_input {
  border: 0;
  outline: 0;
  background: transparent;
  padding: 6px 20px;
  color: #fff;
  font-size: 14px;
  height: 20px;
}
#header .header_box .search .search_input::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 14px;
}
#header .header_box .search .search_icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
  background: url('../../assets/imgs/search.png') no-repeat;
}
#header .nav_sub {
  text-align: center;
  position: absolute;
  top: 100px;
  width: 100%;
  overflow: visible;
}
#header .nav_sub ul {
  display: none;
  text-align: center;
  position: absolute;
  width: 100%;
  border-top: 1px solid #ebebeb;
  background: transparent;
  z-index: -999;
  transition: all .7s;
}
#header .nav_sub ul li {
  display: inline-block;
  width: 110px;
  position: relative;
}
#header .nav_sub ul li a {
  display: inline-block;
  color: #ccc;
  line-height: 80px;
}
#header .nav_sub ul li a span {
  position: absolute;
  top: 46%;
  left: 5%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ccc;
}
#header .nav_sub ul li a:hover {
  color: #1470cc;
}
#header .nav_sub ul li a:hover span {
  background: #1470cc;
}
#header .nav_sub ul.subshow {
  background: #ffffff;
  z-index: 1;
}
/*轮播banner样式*/
#banner {
  overflow: hidden;
}
#banner .bannerUL li {
  float: left;
  position: relative;
  z-index: -1;
  width: 100%;
}
#banner .bannerUL li img {
  width: 100%;
}
#banner .banner_txt {
  position: absolute;
  top: 300px;
  left: 40%;
}
#banner .banner_txt .title {
  font-size: 60px;
  text-align: center;
  color: #ffffff;
}
#banner .banner_txt .small_title {
  font-size: 30px;
  text-align: center;
  color: #ffffff;
  margin: 50px 0;
}
#banner .banner_txt .more {
  width: 180px;
  height: 60px;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
  line-height: 58px;
  display: block;
}
/*产品案例*/
#product .product_box {
  padding: 50px 0;
  width: 1200px;
  margin: 0 auto;
}
#product .product_box .product_title {
  font-size: 30px;
  color: #4d4d4d;
  text-align: center;
}
#product .product_box .product_smallTitle {
  font-size: 18px;
  color: #b6b6b6;
  margin: 20px 0 50px;
  text-align: center;
}
#product .product_box .product_contanier ul {
  overflow: hidden;
}
#product .product_box .product_contanier ul li {
  border: 1px solid #d9d9d9;
  float: left;
  padding: 37px 0;
  width: 22%;
  margin-left: 4%;
}
#product .product_box .product_contanier ul li:first-child {
  margin-left: 0;
}
#product .product_box .product_contanier ul li .product_img {
  padding: 0 74px 37px;
  text-align: center;
}
#product .product_box .product_contanier ul li .product_img img {
  display: inline-block;
}
#product .product_box .product_contanier ul li .product_name,
#product .product_box .product_contanier ul li .product_msg,
#product .product_box .product_contanier ul li .product_more {
  text-align: center;
}
#product .product_box .product_contanier ul li .product_name {
  font-size: 26px;
  color: #4D4D4D;
}
#product .product_box .product_contanier ul li .product_msg {
  font-size: 18px;
  color: #b6b6b6;
  padding: 10px 0 35px;
}
#product .product_box .product_contanier ul li .product_more a {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  color: #b6b6b6;
  border: 1px solid #b6b6b6;
  border-radius: 5px;
  padding: 10px 26px;
}
#product .product_box .product_contanier ul li .product_more a:hover {
  color: #1470cc;
  border-color: #1470cc;
}
/*新闻动态*/
.shadow {
  -webkit-box-shadow: 6px 7px 9px -3px #d9d9d9;
  -moz-box-shadow: 6px 7px 9px -3px #d9d9d9;
  box-shadow: 6px 7px 9px -3px #d9d9d9;
}
#news {
  background: #f5f5f5;
  overflow: hidden;
}
#news .news_box {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}
#news .news_box .news_header {
  padding-bottom: 35px;
}
#news .news_box .news_header .news_title {
  font-size: 30px;
  color: #4d4d4d;
  text-align: center;
}
#news .news_box .news_header .news_tab {
  font-size: 18px;
  color: #b6b6b6;
  margin-top: 20px;
  text-align: center;
}
#news .news_box .news_header .news_tab div {
  display: inline-block;
  width: 120px;
  line-height: 50px;
  background: #fff;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}
#news .news_box .news_header .news_tab div:first-child {
  margin-left: 0;
}
#news .news_box .news_header .news_tab div.active {
  background: #1470cc;
  color: #fff;
}
#news .news_box .news_cont {
  width: 100%;
  overflow: hidden;
}
#news .news_box .news_cont .hotNews {
  background: #fff;
  width: 31%;
  margin-bottom: 10px;
  transition: all .3s;
}
#news .news_box .news_cont .hotNews a {
  display: block;
}
#news .news_box .news_cont .hotNews a .hotNews_content {
  padding: 30px 30px;
}
#news .news_box .news_cont .hotNews a .hotNews_content .hotNews_title {
  font-size: 24px;
  color: #1470cc;
}
#news .news_box .news_cont .hotNews a .hotNews_content .hotNews_cont {
  margin: 20px 0 40px;
  line-height: 26px;
  height: 110px;
  color: #b6b6b6;
  text-align: justify;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
#news .news_box .news_cont .hotNews a .hotNews_content .hotNews_data {
  color: #b6b6b6;
}
#news .news_box .news_cont .dayNews {
  width: 65%;
}
#news .news_box .news_cont .dayNews ul li {
  overflow: hidden;
  background: #fff;
  margin-top: 28px;
  margin-right: 10px;
  transition: all .3s;
}
#news .news_box .news_cont .dayNews ul li:first-child {
  margin-top: 0;
}
#news .news_box .news_cont .dayNews ul li:last-child {
  margin-bottom: 10px;
}
#news .news_box .news_cont .dayNews ul li a {
  display: block;
}
#news .news_box .news_cont .dayNews ul li a .dayNews_cont {
  padding: 24px;
  padding-bottom: 23px;
  width: 70%;
}
#news .news_box .news_cont .dayNews ul li a .dayNews_cont .dayNews_title {
  margin-bottom: 10px;
  font-size: 24px;
}
#news .news_box .news_cont .dayNews ul li a .dayNews_cont .dayNews_info {
  color: #b6b6b6;
  line-height: 28px;
  height: 56px;
  text-align: justify;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
#news .news_box .news_cont .dayNews ul li a .dayNews_img {
  width: 30%;
  height: 145px;
}
/*合作伙伴*/
#partner .partner_box {
  padding: 50px 0;
  width: 1200px;
  margin: 0 auto;
}
#partner .partner_box .partner_header .partner_title {
  font-size: 30px;
  color: #4d4d4d;
  text-align: center;
}
#partner .partner_box .partner_header .partner_smallTitle {
  font-size: 18px;
  color: #b6b6b6;
  margin: 20px 0 50px;
  text-align: center;
}
#partner .partner_box .partner_cont ul li {
  float: left;
  width: 200px;
  padding: 30px 0;
}
#partner .partner_box .partner_cont ul li .partner_pic {
  width: 100%;
  height: 90px;
  line-height: 90px;
  text-align: center;
}
#partner .partner_box .partner_cont ul li .partner_pic img {
  display: inline-block;
}
#partner .partner_box .partner_cont ul li .partner_name {
  text-align: center;
  color: #ccc;
}
/*咨询*/
#consulting {
  text-align: center;
  padding: 35px 0;
  background: url('../../assets/imgs/zixun.png') no-repeat;
}
#consulting .consulting_title {
  font-size: 24px;
  color: #fff;
  text-align: center;
  margin-bottom: 25px;
}
#consulting .consulting_btn {
  display: inline-block;
  width: 150px;
  height: 50px;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  line-height: 50px;
  border: 1px solid #fff;
  text-align: center;
}
/*底部*/
#footer {
  background: #333;
  color: #fff;
  position: relative;
}
#footer .hr {
  background: #404040;
  height: 1px;
  width: 100%;
  position: absolute;
  top: 234px;
}
#footer .footer_box {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}
#footer .footer_box .footer_body {
  padding-bottom: 50px;
}
#footer .footer_box .footer_body .footer_body_nav ul {
  width: 180px;
  float: left;
}
#footer .footer_box .footer_body .footer_body_nav ul li {
  line-height: 28px;
}
#footer .footer_box .footer_body .footer_body_nav ul li:first-child {
  color: #808080;
  font-size: 18px;
  margin-bottom: 10px;
}
#footer .footer_box .footer_body .footer_body_nav ul li a {
  font-size: 14px;
  color: #adadad;
}
#footer .footer_box .footer_body .footer_body_wexin div {
  display: inline-block;
  margin-left: 30px;
}
#footer .footer_box .footer_body .footer_body_wexin div p {
  color: #808080;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
#footer .footer_box .footer_bottom {
  padding: 30px 0;
  color: #808080;
}
